/src/Shared/Sistema/__history/*.~1~
/src/Shared/Sistema/__history/*.~2~
/src/Shared/Sistema/__history/*.~3~
/src/Shared/Sistema/__history/*.~4~
/src/Shared/Sistema/__history/*.~5~
/src/Shared/Sistema/__history/*.~6~
/src/Shared/Sistema/__history/*.~7~
/src/dpr/*.local
/src/dpr/*.dsk
/src/dpr/*.identcache
/src/dpr/*.mes
/src/dpr/*.res
/src/dpr/*.skincfg
/src/dpr/*.stat
/src/dpr/*.~dsk
/src/dpr/Win32/Debug/*.txt
/src/dpr/Win32/Debug/*.dcu
/src/dpr/Win32/Debug/*.drc
/src/dpr/Win32/Debug/*.exe
/src/dpr/Win32/Debug/*.map
/src/dpr/Win32/Debug/*.log
/src/dpr/Win32/Release/*.dcu
/src/dpr/Win32/Release/*.drc
/src/dpr/Win32/Release/*.exe
/src/dpr/Win32/Release/*.map
/src/dpr/Win32/Release/*.log
/src/dpr/__history/*.~10~
/src/dpr/__history/*.~11~
/src/dpr/__history/*.~12~
/src/dpr/__history/*.~3~
/src/dpr/__history/*.~4~
/src/dpr/__history/*.~5~
/src/dpr/__history/*.~6~
/src/dpr/__history/*.~7~
/src/dpr/__history/*.~8~
/src/dpr/__history/*.~9~
/src/pas/Book/Narrador/__history/*.~74~
/src/pas/Book/Narrador/__history/*.~75~
/src/pas/Book/Narrador/__history/*.~76~
/src/pas/Book/Narrador/__history/*.~77~
/src/pas/Book/Narrador/__history/*.~78~
/src/pas/Book/Narrador/__history/*.~79~
/src/pas/Book/Narrador/__history/*.~80~
/src/pas/Book/Narrador/__history/*.~81~
/src/pas/Book/Narrador/__history/*.~82~
/src/pas/Book/Narrador/__history/*.~83~
/src/pas/Book/Personagens/__history/*.~499~
/src/pas/Book/Personagens/__history/*.~500~
/src/pas/Book/Personagens/__history/*.~501~
/src/pas/Book/Personagens/__history/*.~502~
/src/pas/Book/Personagens/__history/*.~503~
/src/pas/Book/Personagens/__history/*.~504~
/src/pas/Book/Personagens/__history/*.~505~
/src/pas/Book/Personagens/__history/*.~506~
/src/pas/Book/Personagens/__history/*.~507~
/src/pas/Book/Personagens/__history/*.~508~
/src/pas/Book/__history/*.~148~
/src/pas/Book/__history/*.~149~
/src/pas/Book/__history/*.~150~
/src/pas/Book/__history/*.~151~
/src/pas/Book/__history/*.~152~
/src/pas/Book/__history/*.~153~
/src/pas/Book/__history/*.~154~
/src/pas/Book/__history/*.~155~
/src/pas/Book/__history/*.~156~
/src/pas/Book/__history/*.~157~
/src/pas/Book/__history/*.~78~
/src/pas/Book/__history/*.~79~
/src/pas/Book/__history/*.~80~
/src/pas/Book/__history/*.~81~
/src/pas/Book/__history/*.~82~
/src/pas/Book/__history/*.~83~
/src/pas/Book/__history/*.~84~
/src/pas/Book/__history/*.~85~
/src/pas/Book/__history/*.~86~
/src/pas/Book/__history/*.~87~
/src/pas/Book/__history/*.~35~
/src/pas/Book/__history/*.~36~
/src/pas/Book/__history/*.~37~
/src/pas/Book/__history/*.~38~
/src/pas/Book/__history/*.~39~
/src/pas/Book/__history/*.~40~
/src/pas/Book/__history/*.~41~
/src/pas/Book/__history/*.~42~
/src/pas/Book/__history/*.~43~
/src/pas/Book/__history/*.~44~
/src/pas/Book/__history/*.~235~
/src/pas/Book/__history/*.~236~
/src/pas/Book/__history/*.~237~
/src/pas/Book/__history/*.~238~
/src/pas/Book/__history/*.~239~
/src/pas/Book/__history/*.~240~
/src/pas/Book/__history/*.~241~
/src/pas/Book/__history/*.~242~
/src/pas/Book/__history/*.~243~
/src/pas/Book/__history/*.~244~
/src/pas/PDF/__history/*.~76~
/src/pas/PDF/__history/*.~77~
/src/pas/PDF/__history/*.~78~
/src/pas/PDF/__history/*.~79~
/src/pas/PDF/__history/*.~80~
/src/pas/PDF/__history/*.~81~
/src/pas/PDF/__history/*.~82~
/src/pas/PDF/__history/*.~83~
/src/pas/PDF/__history/*.~84~
/src/pas/PDF/__history/*.~85~
/src/pas/__history/*.~68~
/src/pas/__history/*.~69~
/src/pas/__history/*.~70~
/src/pas/__history/*.~71~
/src/pas/__history/*.~72~
/src/pas/__history/*.~73~
/src/pas/__history/*.~74~
/src/pas/__history/*.~75~
/src/pas/__history/*.~76~
/src/pas/__history/*.~77~
/src/pas/__history/*.~34~
/src/pas/__history/*.~35~
/src/pas/__history/*.~36~
/src/pas/__history/*.~37~
/src/pas/__history/*.~38~
/src/pas/__history/*.~39~
/src/pas/__history/*.~40~
/src/pas/__history/*.~41~
/src/pas/__history/*.~42~
/src/pas/__history/*.~43~
/src/pas/__history/*.~304~
/src/pas/__history/*.~305~
/src/pas/__history/*.~306~
/src/pas/__history/*.~307~
/src/pas/__history/*.~308~
/src/pas/__history/*.~309~
/src/pas/__history/*.~310~
/src/pas/__history/*.~311~
/src/pas/__history/*.~312~
/src/pas/__history/*.~313~
/src/pas/__history/*.~13~
/src/pas/__history/*.~14~
/src/pas/__history/*.~15~
/src/pas/__history/*.~16~
/src/pas/__history/*.~17~
/src/pas/__history/*.~18~
/src/pas/__history/*.~19~
/src/pas/__history/*.~20~
/src/pas/__history/*.~21~
/src/pas/__history/*.~22~
/unittest/dpr/*.dcu
/unittest/dpr/*.local
/unittest/dpr/*.dsk
/unittest/dpr/*.identcache
/unittest/dpr/*.res
/unittest/dpr/*.skincfg
/unittest/dpr/*.stat
/unittest/dpr/*.~dsk
/unittest/dpr/__history/*.~10~
/unittest/dpr/__history/*.~11~
/unittest/dpr/__history/*.~12~
/unittest/dpr/__history/*.~13~
/unittest/dpr/__history/*.~4~
/unittest/dpr/__history/*.~5~
/unittest/dpr/__history/*.~6~
/unittest/dpr/__history/*.~7~
/unittest/dpr/__history/*.~8~
/unittest/dpr/__history/*.~9~
/unittest/exe/*.txt
/unittest/exe/*.ini
/unittest/input/*.pdf
/unittest/input/*.txt
/unittest/output/*.json
/unittest/output/*.txt
/unittest/output/request/*.json
/unittest/pas/__history/*.~54~
/unittest/pas/__history/*.~55~
/unittest/pas/__history/*.~56~
/unittest/pas/__history/*.~57~
/unittest/pas/__history/*.~58~
/unittest/pas/__history/*.~59~
/unittest/pas/__history/*.~60~
/unittest/pas/__history/*.~61~
/unittest/pas/__history/*.~62~
/unittest/pas/__history/*.~63~
