-- SCRIPT GERADO EM: 2025-05-26 20:25:49
-- PostgreSQL - Estrutura completa de tabelas do sistema de livros, falas e personagens

-- Tabela de Livros
CREATE TABLE TB_LIVROCABECALHO (
    CD_SEQUENCIAL      BIGSERIAL PRIMARY KEY,
    TX_TITULO          TEXT UNIQUE,
    FL_LIDO            TEXT,
    FL_NORMALIZADO     TEXT,
    FL_NARRADOR        TEXT,
    FL_PRODUZIDO       TEXT,
    DT_MANUTECAO       TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de Páginas dos Livros
CREATE TABLE TB_LIVROPAGINA (
    CD_SEQUENCIAL           BIGSERIAL PRIMARY KEY,
    CD_SEQUENCIALLIVRO      BIGINT NOT NULL REFERENCES TB_LIVROCABECALHO(CD_SEQUENCIAL),
    NR_PAGINA               BIGINT,
    TX_PAGINA               TEXT,
    FL_PROCESSADO           TEXT,
    DT_MANUTECAO            TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de Personagens
CREATE TABLE TB_LIVROPERSONAGENS (
    CD_SEQUENCIAL          BIGSERIAL PRIMARY KEY,
    CD_SEQUENCIALLIVRO     BIGINT NOT NULL REFERENCES TB_LIVROCABECALHO(CD_SEQUENCIAL),
    TX_PERSONAGEM          TEXT,
    TX_GENERO              TEXT,
    TX_IDADE               TEXT,
    CD_VOZ                 BIGINT,
    DT_MANUTECAO           TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de Falas
CREATE TABLE TB_LIVROFALAS (
    CD_SEQUENCIAL             BIGSERIAL PRIMARY KEY,
    CD_SEQUENCIALLIVRO        BIGINT NOT NULL REFERENCES TB_LIVROCABECALHO(CD_SEQUENCIAL),
    CD_SEQUENCIALPAGINA       BIGINT NOT NULL REFERENCES TB_LIVROPAGINA(CD_SEQUENCIAL),
    CD_SEQUENCIALPERSONAGEM   BIGINT NOT NULL REFERENCES TB_LIVROPERSONAGENS(CD_SEQUENCIAL),
    TX_FALA                   TEXT,
    FL_PROCESSADO             TEXT,
    DT_MANUTECAO              TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE OR REPLACE FUNCTION fn_tb_livrofalas_marcar_nao_processado()
RETURNS trigger
LANGUAGE plpgsql
AS $$
BEGIN
  IF (pg_trigger_depth() > 1) THEN
    RETURN NULL;
  END IF;

  IF (OLD.cd_sequencialpersonagem IS DISTINCT FROM NEW.cd_sequencialpersonagem)
     OR (OLD.tx_fala IS DISTINCT FROM NEW.tx_fala) THEN

     UPDATE tb_livrofalas
        SET fl_processado = 'N'
      WHERE id_livrofala = NEW.CD_SEQUENCIAL
        AND (fl_processado IS DISTINCT FROM 'N');
  END IF;

  RETURN NULL; -- AFTER ROW pode retornar NULL
END;
$$;


CREATE TRIGGER trg_tb_livrofalas_after_upd
AFTER UPDATE ON tb_livrofalas
FOR EACH ROW
EXECUTE FUNCTION fn_tb_livrofalas_marcar_nao_processado();

-- Tabela de Falas
CREATE TABLE TB_LIVROARQUIVOS (
    CD_SEQUENCIAL             BIGSERIAL PRIMARY KEY,
    CD_SEQUENCIALLIVRO        BIGINT NOT NULL REFERENCES TB_LIVROCABECALHO(CD_SEQUENCIAL),
    CD_SEQUENCIALPAGINA       BIGINT NOT NULL REFERENCES TB_LIVROPAGINA(CD_SEQUENCIAL),
    CD_SEQUENCIALPERSONAGEM   BIGINT NOT NULL REFERENCES TB_LIVROPERSONAGENS(CD_SEQUENCIAL),
    CD_SEQUENCIALFALA         BIGINT NOT NULL REFERENCES TB_LIVROFALAS(CD_SEQUENCIAL),
    TX_ARQUIVO                TEXT,
    FL_PROCESSADO             TEXT,
    DT_MANUTECAO              TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabela para armazenar chaves de APIs externas
CREATE TABLE TB_LIVROAPIS (
    CD_SEQUENCIAL   BIGSERIAL PRIMARY KEY,
    TX_KEY          TEXT UNIQUE,
    DT_EXPIRACAO    TIMESTAMP
);

CREATE TABLE TB_LIVROVOZES (
    CD_SEQUENCIAL   BIGSERIAL PRIMARY KEY,
    TX_NOME          TEXT UNIQUE,
    TX_GENERO              TEXT,
    TX_IDADE               TEXT
);

-- Índices adicionais recomendados
CREATE INDEX idx_livropagina_livro ON TB_LIVROPAGINA(CD_SEQUENCIALLIVRO);
CREATE INDEX idx_personagens_livro ON TB_LIVROPERSONAGENS(CD_SEQUENCIALLIVRO);
CREATE INDEX idx_falas_livro_pagina ON TB_LIVROFALAS(CD_SEQUENCIALLIVRO, CD_SEQUENCIALPAGINA);
CREATE INDEX idx_falas_personagem ON TB_LIVROFALAS(CD_SEQUENCIALPERSONAGEM);

delete from TB_LIVROAPIS;
insert into TB_LIVROAPIS(TX_KEY) values ('AIzaSyDTRrwio8jO_9v4QS_ouF7HjyO_N36KZnE');
insert into TB_LIVROAPIS(TX_KEY) values ('AIzaSyB1rNQIFargUbdVYDUBTPPk1vy2uSZbF68');
insert into TB_LIVROAPIS(TX_KEY) values ('AIzaSyBs1sd5ocP5J56QPJ-W6Ly5SPFPyI0uZ2w');

delete from TB_LIVROVOZES;
